<footer>
    <div class="inner-footer">
        <div class="footer-third">
            <li><a href="https://github.com/andreamaf01"><i class="fab fa-github fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/maffia-andrea-087011156/"><i class="fab fa-linkedin fa-2x"></i></a></li>
            <li><a href="https://twitter.com/andreamaffia3"><i class="fab fa-twitter fa-2x"></i></a></li>
        </div>

        <div class="copyright">
            <p> &copy; 2021 Andrea Maffia </p>
        </div> 
    </div>
</footer>