<div class="header sticky-top">
    <div class="nav-bar">
        <%= link_to 'Welcome', root_path, class:"header-link" %>
        <%= link_to 'Portfolio', pages_portfolio_path, class:"header-link" %>
        <a class="header-link" href="#">About</a>
        <a class="header-link" href="#">Contact</a>
    </div>
</div>