<div class="header sticky-top">
    <div class="nav-bar">
        <%= link_to 'Welcome', root_path, class:"header-link" %>
        <%= link_to 'Portfolio', pages_portfolio_path, class:"header-link" %>
        <%= link_to 'About', pages_about_path, class:"header-link" %>
        <%= link_to 'Contact', contacts_new_path, class:"header-link" %>
    </div>
</div>