<div class="about-container">
    <div class="about-image-container">
        <%= image_tag "about-image.jpg", class:"about-image-style", alt:"Andrea's profile pic" %>
    </div>

    <div class="about-text">
        <p>Born in 1995 in Senigallia, a small town on the east side of Italy, facing the Adriatic Sea.</p>
        <br> 
        <p>I have studied Political Sciences and International Relations at the University of Macerata.</p>
        <br> 
        <p>I have always been fascinated by coding so I am learning web development, in particular html, CSS, Ruby, Ruby on Rails and Javascript.</p>
        <br>
    </div>
</div>