<div class="header sticky-top">
    <div class="nav-bar">
        <a class="header-link" href="#">Welcome</a>
        <a class="header-link" href="#">Portfolio</a>
        <a class="header-link" href="#">About</a>
        <a class="header-link" href="#">Contact</a>
    </div>
</div>

<div class="main">
    <h1 class="headline">Hello! My name is
    <span class="highlight">Andrea Maffia.</span>
    I design and develop experiences that make people's lives
    <span class="highlight">just a little bit prettier</span>
    </h1>
</div>

<div class="button-container">
  <a class="button is-link is-inverted is-large">View My Work</a>
</div>

<footer>
  <div class="inner-footer">
    <div class="footer-third">
      <li><a href="https://github.com/andreamaf01"><i class="fab fa-github fa-2x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/maffia-andrea-087011156/"><i class="fab fa-linkedin fa-2x"></i></a></li>
      <li><a href="https://twitter.com/andreamaffia3"><i class="fab fa-twitter fa-2x"></i></a></li>
    </div> 
  </div>
</footer>
