<div class="main">
    <h1 class="headline">Hello! My name is
    <span class="highlight">Andrea Maffia.</span>
    I design and develop experiences that make people's lives
    <span class="highlight">just a little bit prettier</span>
    </h1>
</div>

<div class="button-container">
  <%= link_to 'View My Work', pages_portfolio_path, class:"button is-link is-inverted is-large" %>
</div>